<%- include('header.ejs') %>
    <div class="about-section paddingTB60 gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-6">
                    <div class="about-title clearfix">
                        <h1>About <span> The Pokemon Co.</span></h1>
                        <h3>A new journey awaits</h3>
                        <p class="about-paddingB">
                            Start an incrediable journey with The Pokemon Co. and discover a world of Pokémon! Explore and find out about the coolest pokemons and trade them and more!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('footer.ejs') %>