<html>

<body>
  <footer id="sticky-footer" class="flex-shrink-0 fixed-bottom bg-dark text-white-50">
    <div class="container-fluid">
      <div class="row pt-3">
        <h6 class="text-uppercase lead">
          <a href="/about" class="text-white">About</a>
        </h6>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <h6 class="text-uppercase lead">
          <a href="/contact" class="text-white">Contact</a> &nbsp; &nbsp;
        </h6>
        <small class="footertext">Copyright &copy; The Pokemon Co.</small>
      </div>
    </div>
  </footer>
  <script src="/javascript/jquery-3.2.1.slim.min.js"></script>
  <script src="/javascript/popper.min.js"></script>
  <script src="/javascript/bootstrap.min.js"></script>
</body>

</html>