<%- include('partials/header.ejs') %>
<div class="jumbotron">
    <h1 class="jumbo">Welcome to The Pokemon Co.</h1>
    <p class="lead">The world's best pokemon game on your computers now. Here You'll be able to trade and look up the cards you're holding and much more!</p>
    
    <div class="container-fluid">
      <div class="row">
        <div>
          <p class="lead">WATCH OUT FOR THAT LEGENDARY POKEMON!</p>
        </div>
        <div>
          <img src="images/img4.gif" class="img-fluid hoho" alt="PokeBrand">
        </div>
      </div>
    </div>
    <p><a href="https://www.pokemon.com/us" target="_blank" class="btn btn-info btn-lg">Learn more &raquo;</a></p>
    
</div>
<%- include('partials/footer.ejs') %>